.showup {
z-index: 99999999;
}
.custom_contact {
width: 49%;
position: static;
margin: 10px 0;
font-family: tahoma;
}
// hide html wedgit border
#HTML8>.widget-content {
padding: 0;
border: 0;
}
/**
* BxSlider v4.1.2 - Fully loaded, responsive content slider
* http://bxslider.com
*
* Written by: Steven Wanderski, 2014
* http://stevenwanderski.com
* (while drinking Belgian ales and listening to jazz)
*
* CEO and founder of bxCreative, LTD
* http://bxcreative.com
*/
/** RESET AND LAYOUT
===================================*/
.post_results .items-inner{
height: 220px;
}
.bx-wrapper {
position: relative;
margin: 0 auto 25px;
padding: 0;
*zoom: 1;
direction: ltr;
}
.bx-wrapper img {
max-width: 100%;
display: block;
}
.bx-wrapper .fa {
font-weight: bold;
}
.post_results .content-area h3 {
text-align: center;
}
#post_results1 .items,#post_results99 .items {
margin-left: 0;
}
/** custom fixed post results instead of ads
================================================ **/
#post_results1 .video .rcthumb {
height: 80px;
width: auto;
}
#post_results1 .content-area h3 a {
color: #000;
}
#post_results1 .content-area h3 {
margin: 5px 10px;
font-size: 12px;
}
#post_results1 .content-area {
padding: 0;
height: 35px;
overflow: hidden;
}
#post_results1 .post_results .items-inner {
height: 135px;
}
#post_results1 .bx-wrapper {
height: 175px !important; //provide height of slider
}
#post_results1 .bx-wrapper .bx-controls-direction a {
bottom: 155px;
}
#post_results1 .bx-wrapper .bx-pager {
display: none;
}
#post_results1 .bx-wrapper {
margin: 0 auto;
}
#post_results2 .items {
width: 100%;
}
/** THEME
===================================*/
.bx-wrapper .bx-viewport {
-moz-box-shadow: 0 0 5px #ccc;
-webkit-box-shadow: 0 0 5px #ccc;
box-shadow: 0 0 5px #ccc;
border:  5px solid #fff;
left: -5px;
background: #fff;
/*fix other elements on the page moving (on Chrome)*/
-webkit-transform: translatez(0);
-moz-transform: translatez(0);
-ms-transform: translatez(0);
-o-transform: translatez(0);
transform: translatez(0);
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
position: absolute;
bottom: -30px;
width: 100%;
}
/* LOADER */
.bx-wrapper .bx-loading {
min-height: 50px;
background: url(http://2.bp.blogspot.com/-F1ZoS1Ns3h4/VWXkqjEuUoI/AAAAAAAAAbs/Q415Cu_-75I/s20/anim_loading_sm_082208.gif) center center no-repeat #fff;
height: 100%;
width: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 2000;
}
/* PAGER */
.bx-wrapper .bx-pager {
text-align: center;
font-size: .85em;
font-family: Arial;
font-weight: bold;
color: #666;
padding-top: 20px;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
display: inline-block;
*zoom: 1;
*display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
background: #666;
text-indent: -9999px;
display: block;
width: 10px;
height: 10px;
margin: 0 5px;
outline: 0;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
background: #000;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
left: 0px;
-webkit-transition: none;
-moz-transition: none;
-ms-transition: none;
-o-transition: none;
transition: none;
}
.bx-wrapper .bx-next {
right: 0px;
-webkit-transition: none;
-moz-transition: none;
-ms-transition: none;
-o-transition: none;
transition: none;
}
.bx-wrapper .bx-prev:hover {
background-position: 0 0;
}
.bx-wrapper .bx-next:hover {
background-position: -43px 0;
}
.bx-wrapper .bx-controls-direction a {
position: absolute;
bottom: 110px;
outline: 0;
width: 32px;
height: 32px;
text-indent: 0;
font-style: normal;
font-weight: normal;
text-decoration: none;
color: #FFF;
font-size: 23px;
background: #C00;
background: rgb(204, 0, 0);
margin: 0 10px 0 0;
padding: 0;
text-align: center;
}
.bx-wrapper .bx-controls-direction a.disabled {
display: none;
}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
display: block;
text-indent: -9999px;
width: 10px;
height: 11px;
outline: 0;
background: url(http://1.bp.blogspot.com/-OvdorCKVhO4/Vj8MmMq73tI/AAAAAAAADhM/Htrx3azsLYw/s100/controls-w.png) -86px -11px no-repeat;
margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
display: block;
text-indent: -9999px;
width: 9px;
height: 11px;
outline: 0;
background: url(http://1.bp.blogspot.com/-OvdorCKVhO4/Vj8MmMq73tI/AAAAAAAADhM/Htrx3azsLYw/s100/controls-w.png) -86px -44px no-repeat;
margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
text-align: left;
width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
right: 0;
width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
position: absolute;
bottom: 0;
left: 0;
background: #666\9;
background: rgba(80, 80, 80, 0.75);
width: 100%;
}
.bx-wrapper .bx-caption span {
color: #fff;
font-family: Arial;
display: block;
font-size: .85em;
padding: 10px;
}
/* my Css */
.loading_w {
background: url(http://2.bp.blogspot.com/-F1ZoS1Ns3h4/VWXkqjEuUoI/AAAAAAAAAbs/Q415Cu_-75I/s20/anim_loading_sm_082208.gif);
width: 16px;
height: 16px;
background-repeat: no-repeat;
background-size: cover;
margin: 0 auto;
}
.post-body img {
border: 0px solid #D3D3D3;
}
.grid h3.post-title {
text-align: center;
}
.post-sponsors {
position: relative;
z-index: 99;
}
.sponsors1 {
float: left;
margin: 0 2% 3% 0;
}
#post_bottom {
margin-top: 10px;
}
.sponsors2 {
float: right;
}
#fix_stream {
width: 100%;
z-index: 90;
padding-right: 310px;
}
.acrd-content {
padding: 2px 10px;
margin-bottom: 3px;
margin-top: -5px;
background-color: #F2F2F2;
box-shadow: inset 0 -1px 7px rgba(0,0,0,0.2);
font-size: 14px;
}
.acrd-toggle {
font-size: 14px;
}
.sevida-table.custom_tb th {
letter-spacing: 0px;
}
.sevida-table.custom_tb th, .snews-table.custom_tb td {
padding: 2px;
text-align: center;
}
.sevida-table.custom_tb td {
padding: 1px 15px;
font-size: 14px;
}
.fa-map-marker {
margin: 0px 9px 0px 11px;}
.fa-futbol-o {
margin: 0px 7px 0px 7px;}
.fa-tags {
margin: 0px 7px 0px 6px;}
.fa-clock-o {
margin: 0px 7px 0px 6px;}
.fa-cogs {
margin: 0px 7px 0px 3px;}
@media screen and (max-width:600px){
.post-sponsors, .adstitle {
position: relative;
float: none;
margin: 2% auto;
z-index: 99;
width: 300px;
}
#fix_stream {
padding-right: 0px;
margin: 15px 0 0 0;
}
}
@media screen and (max-width:340px){
.post-sponsors, .adstitle {
display:none;
}
}
/* moving slider ads */
.multiSponsercontainer {
width: 300px;
height: 250px;
overflow: hidden;
margin: 0 auto;
}
.multiSponsercontainer2 {
width: 728px;
height: 90px;
overflow: hidden;
margin: 0 auto;
}
.multiSponsercontainer .bx-controls.bx-has-controls-direction,.multiSponsercontainer2 .bx-controls.bx-has-controls-direction {
position: absolute;
top: 0;
right: 0;
}
.multiSponsercontainer .bx-wrapper .bx-controls-direction a,.multiSponsercontainer2 .bx-wrapper .bx-controls-direction a {
position: static;
bottom: auto;
margin: 0;
padding: 0 4px;
width: auto;
height: auto;
text-decoration: none;
background: #000;
background: rgba(35, 35, 35, 0.65);
}
.multiSponsercontainer .bx-prev:before,.multiSponsercontainer2 .bx-prev:before {
text-decoration: inherit;
color: #FFF;
font-size: 16px;
background: #000;
background: rgba(76, 76, 76, 0.5);
margin: 0 1px;
padding: 2px;
}
.multiSponsercontainer .bx-next:before,.multiSponsercontainer2 .bx-next:before {
text-decoration: inherit;
color: #FFF;
font-size: 16px;
background: #000;
background: rgba(76, 76, 76, 0.5);
margin: 0 1px;
padding: 2px;
}
.multiSponsercontainer .bx-controls.bx-has-pager.bx-has-controls-direction,.multiSponsercontainer2 .bx-controls.bx-has-pager.bx-has-controls-direction {
top: 0;
right: 0;
position: absolute;
}
.multiSponsercontainer .bx-wrapper .bx-viewport,.multiSponsercontainer2 .bx-wrapper .bx-viewport{
border:0;
left:auto;
}
/* table share style */
.table_share {
display: inline-flex;
font-size: 12px;
font-weight: bold;
color: #FFF;
background-color: #C00;
padding: 3px 7px;
}
.table_share p {
margin: 0 5px;
}
/* inner lable style */
h1.plabelsbtn {
font-size: 22px;
margin: 0 0 10px 0;
line-height: 1.5em;
padding: 0 0 0 45px;
}
.lable_details {
background-color: #F7F7F7;
padding: 15px;
margin: 15px 0;
}
.lable_details h2 {
font-size: 19px;
display: block;
}
.lable_details h3 {
font-size: 16px;
display: block;
}
.lable_details h4 {
font-size: 14px;
display: block;
}
.lable_details a.button {
color: #fff;
}
/* table league standings*/
#league_table {
overflow: hidden;
width: 100%;
margin: 0 auto;
}
#league_container {
width: 605px;
margin: 0 auto;
overflow: hidden;
}
#league_container iframe {
margin-top: -51px;
margin-right: -8px;
}
#league_bg {
height: 70px;
padding: 0;
background: url(http://1.bp.blogspot.com/-YVDhE_QWJ4c/VoLB8rWSBxI/AAAAAAAAECM/Nhn_6VUyRnk/s72/submenu-bg.png) repeat-x;
position: absolute;
top: 0;
width: 100%;
z-index: -1;
}
/* timer */
#countdown {
background-color: #CC0000;
color: #fff;
font-weight: bold;
text-align: center;
position: relative;
padding: 5px;
width: 90%;
margin: 5px auto;
display: inline;
}
/* title h1,h2 */
h1.headerline, h2.headerline {
margin: 0;
padding: 0;
}
/* player Css */
#ch_container {
position: relative;
background: url(https://lh3.googleusercontent.com/-FiCzyOK4Mew/T4aAj2uVJKI/AAAAAAAAPaY/x23tjGIH7ls/s32/ajax-loader.gif);
background-repeat: no-repeat;
background-size: 25px;
background-position: center;
background-color: #000;
}
/* share */
.addthis_native_toolbox {
direction: ltr;
margin: 0px auto;
width: 70%;
float: left;
position: absolute;
bottom: 35px;
left: 0;
}
.addthis_sharing_toolbox {
direction: ltr;
width: 70%;
float: left;
bottom: -5px;
left: 0;
position: absolute;
}
.at4-share-title {
font-weight: bold;
text-align: center;
}
/* my catfish */
#ExternalsponserContainer {
width: 80%;
max-width: 1074px;
position: fixed;
bottom: 0;
z-index: 9999999;
right: 0;
left: 0;
margin-right: auto;
margin-left: auto;
}
#ExternalsponserContainer1 {
width: 80%;
max-width: 1074px;
position: fixed;
bottom: 0;
z-index: 9999999;
right: 0;
left: 0;
margin-right: auto;
margin-left: auto;
}
#closeBtn {
background-color: #000;
width: auto;
height: 30px;
color: #fff;
font-size: 14px;
text-align: center;
line-height: 30px;
float: right;
z-index: 99999999;
cursor: pointer;
margin: 0 5px;
padding: 0 10px;
font-family: tahoma;
}
/* fotter text */
.custom_text {
width: 100%;
float: right;
text-align: center;
margin: 10px 0;
}
/* inPageVideo */
#inPageVideo{
position: relative;
/* position: absolute; */
/* top: 36px; */
width: 100%;
}
@media screen and (max-width:700px){
#ExternalsponserContainer {
/* display:block; */
}
}
.banner {
position: absolute;
width: 120px;
height: 600px;
top: 193px;
z-index: 1000;
display:block;
}
.banner img{width:100%;}
.zindex { /* z-index: -999; */ z-index: 1000; }
#banner_r {left: 0;}
#banner_l {right: 0;}
@media screen and (max-width:1390px){
.banner {width: 90px;}
}
@media screen and (max-width:1345px){ // min width size = will apply for that size and more.
.banner {width: 120px;}
}
@media screen and (max-width:1344px){
.banner {display:none;}
}
